.profile__add-button {
    max-width: 150px;
    min-height: 50px;
    background-image: url("../../../images/add-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 2px;
    margin: 0 10px 0 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: .6s ease-in-out;
}

.profile__add-button:hover {
    opacity: .6;
    transition: .6s ease-in-out;
  }
  
  @media screen and (max-width: 790px) {
    .profile__add-button {
      width: 120px;
    }
  }
  
  @media screen and (max-width: 590px) {
    .profile__add-button {
      min-width: 282px;
      margin: 0 auto;
    }
  }